HOTS.egg-info
.DS_Store
.ipynb_checkpoints
__pycache__
**/__pycache__
HOTS/__pycache__
Records
data/testsetnmnist.p
vecthistLR.pkl
vectorzLR.pkl
notebooks/NEW_HOTS_05_LR_draft-Copy1.ipynb
paper/Grimaldi_etal2020Cosyne-abstract.aux
paper/Grimaldi_etal2020Cosyne-abstract.bbl
paper/Grimaldi_etal2020Cosyne-abstract.bcf
paper/Grimaldi_etal2020Cosyne-abstract.blg
paper/Grimaldi_etal2020Cosyne-abstract.fdb_latexmk
paper/Grimaldi_etal2020Cosyne-abstract.fls
paper/Grimaldi_etal2020Cosyne-abstract.log
paper/Grimaldi_etal2020Cosyne-abstract.pdf
paper/Grimaldi_etal2020Cosyne-abstract.run.xml
paper/Grimaldi_etal2020Cosyne-abstract.synctex.gz
paper/pdflatex84515.fls
paper/Grimaldi_etal2020Cosyne-abstract.aux
paper/Grimaldi_etal2020Cosyne-abstract.bcf
paper/Grimaldi_etal2020Cosyne-abstract.log
paper/Grimaldi_etal2020Cosyne-abstract.pdf
paper/Grimaldi_etal2020Cosyne-abstract.run.xml
paper/Grimaldi_etal2020Cosyne-abstract.synctex.gz
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.aux
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.bcf
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.log
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.pdf
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.run.xml
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.synctex.gz
paper/Grimaldi_etal2020Cosyne-abstract-mentoring-blx.bib
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.bbl
paper/Grimaldi_etal2020Cosyne-abstract-mentoring.blg
notebooks/*.swp
notebooks/NEW_HOTS_DRAFT.ipynb
notebooks/2020-11-06_NEW_HOTS_05_LogisticRegression-A.ipynb.orig
