yarn.lock
HOTS.egg-info
*.pdf
*.png
*.zip
.DS_Store
.ipynb_checkpoints
__pycache__
**/__pycache__
HOTS/__pycache__
Records/
Data/
notebooks/NEW_HOTS_05_LR_draft-Copy1.ipynb
notebooks/*.swp
notebooks/Untitled.ipynb
paper/Grimaldi_etal2020Cosyne-abstract.aux
paper/Grimaldi_etal2020Cosyne-abstract.bbl
paper/Grimaldi_etal2020Cosyne-abstract.bcf
paper/Grimaldi_etal2020Cosyne-abstract.blg
paper/Grimaldi_etal2020Cosyne-abstract.log
paper/Grimaldi_etal2020Cosyne-abstract.run.xml
paper/Grimaldi_etal2020Cosyne-abstract.synctex.gz
