yarn.lock
HOTS.egg-info
*.pdf
*.png
*.zip
.DS_Store
.ipynb_checkpoints
__pycache__
**/__pycache__
HOTS/__pycache__
Records/
Data/
notebooks/NEW_HOTS_05_LR_draft-Copy1.ipynb
notebooks/*.swp
notebooks/Untitled.ipynb
